* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif;}

/* ---- grid ---- */

.grid {
  /* background: #DDD; */
  width: 100%;
  margin: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  float: left;
  padding:5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

@media (max-width: 576px) { 
  .grid-item {width: 100%;}
}

@media (min-width: 576px) { 
  .grid-item {width: 100%;}
}


@media (min-width: 768px) { 
  .grid-item {width: 50%;}
}


@media (min-width: 992px) { 
  .grid-item {width: 33.33%;}
}

@media (min-width: 1200px) { 
  .grid-item {width: 25%;}
}