/* Nav */
.nav > li > a {
    padding: 20px 20px;
}

/* End */
/* Menu */
.navbar-inverse{
    background-color: #B5B5B5;
    border: transparent;
}
.navbar-brand {
    padding: 5px;
    height: auto;
}
/* End */

.own-tabs {
    border-top: 5px solid #000000;
}
.own-tabs > li {
    float: left;
    margin-bottom: -1px;
}
/* Nav-tabs */

.own-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    background-color: #000000;
}
.own-tabs, .nav-pills {
    text-align:center;
}
.own-tabs > li {
    color:#fff;
}
.own-tabs > li > a:hover{
    background-color: #0f0f0f !important;
    color:#fff;
}
/*end*/

.own-tabs > li > a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    color: #ffffff;
}
.own-tabs > li > a:hover {
    border-color: #000000 #000000 #000000;
}
.own-tabs > li.active > a,
.own-tabs > li.active > a:hover,
.own-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #000000;
    border: 1px solid #000000;
    border-bottom-color: transparent;
}
.own-tabs.own-justified {
    width: 100%;
    border-bottom: 0;
}
.own-tabs.own-justified > li {
    float: none;
}
.own-tabs.own-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.own-tabs.own-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .own-tabs.own-justified > li {
        display: table-cell;
        width: 1%;
    }
    .own-tabs.own-justified > li > a {
        margin-bottom: 0;
    }
}
.own-tabs.own-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.own-tabs.own-justified > .active > a,
.own-tabs.own-justified > .active > a:hover,
.own-tabs.own-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .own-tabs.own-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .own-tabs.own-justified > .active > a,
    .own-tabs.own-justified > .active > a:hover,
    .own-tabs.own-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #B5B5B5;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}